.searchDiv{
    display: flex;
    margin-left: 40px;
    
    }
    
.search{
    font-size: 18px;
    line-height: 2;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 0 5px 5px 0;
}

.search::placeholder{
    color: #B5B5B5;
}
    
.search:focus{
    outline: none;
    
}
    
.searchBtn{
    font-size: 16px;
    line-height: 1.8;
    background: #fff;
    box-shadow: none;
    border: 2px solid #fff;
    border-radius: 5px 0 0 5px;
    
}

.searchBtn:hover{
    cursor: pointer;
}
    